<header>
    <div class="flex">
        <nav class="flex">
            <div #btnRessources routerLink="ressources" routerLinkActive="active" class="btn flex btn_principal" tabindex="-1">Ressources</div>
            <div #btnCharacters routerLink="characters" routerLinkActive="active" class="btn flex btn_principal" tabindex="-1">Personnages</div>
            <div #btnArtefacts routerLink="artefacts" routerLinkActive="active" class="btn flex btn_principal" tabindex="-1">Artéfacts</div>
            <div #btnNotes routerLink="notes" routerLinkActive="active" class="btn flex btn_principal" tabindex="-1">Notes</div>
        </nav>
        <app-gi-dailies></app-gi-dailies>
        <app-gi-tools style="width: 65px;margin-left: auto;"></app-gi-tools>
    </div>
</header>