<div id="list_ressources_monsters" class="flex row">
    <div *ngFor="let col of def.cols" class="{{col.class}}"> 
        <div class="flex col" *ngFor="let row of col.rows">
            <div class="flex row" *ngFor="let ressource of row.ressources">
                <app-ressource-panel *ngFor="let rarity of ressource.rarities"
                    [ressource]="{name: ressource.name + '_' + rarity, rarity: rarity}">
                </app-ressource-panel>
            </div>
        </div>
    </div>
</div>