<header>
    <nav>
        <div id="btn_groupe_principal" class="flex row">
            <div routerLink="ressources" routerLinkActive="active" class="btn flex btn_principal">Ressources</div>
            <div routerLink="characters" routerLinkActive="active" class="btn flex btn_principal">Personnages</div>
            <div routerLink="artefacts" routerLinkActive="active" class="btn flex btn_principal">Artéfacts</div>
            <div routerLink="notes" routerLinkActive="active" class="btn flex btn_principal">Notes</div>
        </div>
    </nav>
</header>