span{
    background: none;
    color: #e9e5dc;
}

#btnGroup_Artefacts{
    margin-top: 23px;
}

#btn_manageCharacters{
    width: 165px;
}

#btn_manageArtefacts{
    width: 144px;
}

#artefacts_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#artefacts_ChracterList{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    margin: 25px 100px 0px 6px;
}

.artefacts_ChracterList_Character{
    margin: 0px 12px 12px 0px;
    width: 50px;
    height: 50px;
}

.artefacts_ChracterList_Character_Border{
    width: 50px;
    height: 50px;

    border-radius: 25px;
    background-color: #474a4e;
    box-shadow: 0 0 2px black;
}

.artefacts_ChracterList_Character_Background{
    width: 46px;
    height: 46px;

    border-radius: 25px;
    background-color: #282a2f;
    box-shadow: #282a2f;
    box-shadow: inset 0 0 2px black;
}

.artefacts_ChracterList_Character_Portrait{
    width: 46px;
    height: 46px;
    border-radius: 25px;
}

#artefacts_CharacterInfos{
    margin: 23px 0px 0px 6px;
    height: 611px;
    width: auto;
}

#artefacts_CharacterInfos_Card{
    width: 186px;
    height: 611px;

    min-width: 186px;
    min-height: 611px;
}

.artefacts_ChracterList_Character.selected > div.artefacts_ChracterList_Character_Background{
    background-color: #e9e5dc;
}
#artefacts_CharacterInfos_Artefacts_Pieces{
    margin-top: 35px;
    margin-left: 50px;
    width: 1148px;
    justify-content: space-between;
}