<div id="btnGroup_Artefacts" class="flex row">
    <div 
        id="btn_manageCharacters" 
        class="btn flex btn_principal"
        [ngClass]="{active : isCharPopupDisplayed}"
        tabindex="-1" (click)="onManageCharactersClick()">Gestion des Personnages</div>        
    <div 
        id="btn_manageArtefacts" 
        class="btn flex btn_principal" 
        [ngClass]="{active : isArtePopupDisplayed}"
        tabindex="-1" (click)="onManageArtefactsClick()">Gestion des Artéfacts</div>
</div>

<div id="artefacts_ChracterList" class="flex row">
    <div #cardCharFace class="artefacts_ChracterList_Character relative" *ngFor="let char of characters" (click)="onCharacterClick(char, cardCharFace)">
        <div class="artefacts_ChracterList_Character_Border absolute center"></div>
        <div class="artefacts_ChracterList_Character_Background absolute center"></div>
        <img class="artefacts_ChracterList_Character_Portrait absolute center" [src]="getCharacterSideImgSrc(char.name)">
    </div>
</div>

<div id="artefacts_CharacterInfos" class="flex row">
    <div id="artefacts_CharacterInfos_Card" class="relative">
        <img class="absolute center" *ngIf="selectedCharacter" [src]="getCharacterCardImgSrc()">
    </div>
    <div id="artefacts_CharacterInfos_Artefacts" class="flex col">
        <div id="artefacts_CharacterInfos_Artefacts_Pieces" class="flex row">
            <div *ngFor="let piece of pieces">
                <div class="artefacts_CharacterInfos_Artefacts_Pieces_Piece">
                    <div class="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type absolute">
                        <div class="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type_Border absolute center"></div>
                        <div class="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type_Background absolute center"></div>
                        <img class="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type_Icon absolute center" 
                            [src]="getArtefactTypeImgSrc(piece.name)">
                    </div>
                    <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Header" class="flex row">
                        <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_SetName">
                            <span>{{getArtefactSetName(piece)}}</span>
                        </div>
                        <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Img" class="relative">
                            <img src="\assets\icons\artifact\artifact_ap_flower.png" class="absolute center">
                        </div>
                    </div>
                    <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats">
                        <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main" class="flex row">
                            <span class="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main_Stat">DEF</span>
                            <span class="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main_Value">58,3%</span>
                        </div>
                        <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Subs" class="flex col">
                            <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Sub">
                                <span>ATK 4,1%</span>
                            </div>
                            <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Sub">
                                <span>DEF 19</span>
                            </div>
                            <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Sub">
                                <span>CRIT DMG 18,7%</span>
                            </div>
                            <div id="artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Sub">
                                <span>ATK 62</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="artefacts_popup" *ngIf="isCharPopupDisplayed || isArtePopupDisplayed">
    <app-manage-characters-popup *ngIf="isCharPopupDisplayed"
        (characterUsedListChangedEvent)="updateCharactersListHandler($event)" 
        (closeCharactersPopupEvent)="closeCharactersPopupHandler()">
    </app-manage-characters-popup>
    <app-manage-artefacts-popup *ngIf="isArtePopupDisplayed"
        (closeArtefactsPopupEvent)="closeArtefactsPopupHandler()">
    </app-manage-artefacts-popup>
</div>

