<header>
    <div class="flex">
        <nav class="flex">
            <div #btnRessources routerLink="ressources" routerLinkActive="active" class="hsr btn flex btn_principal" tabindex="-1">Ressources</div>
            <div #btnCharacters routerLink="characters" routerLinkActive="active" class="hsr btn flex btn_principal" tabindex="-1">Personnages</div>
            <div #btnRelics routerLink="relics" routerLinkActive="active" class="hsr btn flex btn_principal" tabindex="-1">Reliques</div>
            <div #btnNotes routerLink="notes" routerLinkActive="active" class="hsr btn flex btn_principal" tabindex="-1">Notes</div>
        </nav>
        <app-hsr-dailies></app-hsr-dailies>
        <app-hsr-tools style="width: 65px;margin-left: auto;"></app-hsr-tools>
    </div>
</header>