<div id="list_ressources_monsters" class="flex row">
    <div class="normal_loot_list1">
        <div class="flex row">
            <div class="panel" id="panel-slime_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_slime_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-slime_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-slime_gr" />
                </div>
            </div>
            <div class="panel" id="panel-slime_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_slime_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-slime_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-slime_ve" />
                </div>
            </div>
            <div class="panel" id="panel-slime_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_slime_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-slime_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-slime_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-mask_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_mask_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mask_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mask_gr" />
                </div>
            </div>
            <div class="panel" id="panel-mask_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_mask_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mask_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mask_ve" />
                </div>
            </div>
            <div class="panel" id="panel-mask_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_mask_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mask_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mask_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-scroll_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_scroll_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-scroll_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-scroll_gr" />
                </div>
            </div>
            <div class="panel" id="panel-scroll_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_scroll_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-scroll_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-scroll_ve" />
                </div>
            </div>
            <div class="panel" id="panel-scroll_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_scroll_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-scroll_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-scroll_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-arrowhead_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_arrowhead_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-arrowhead_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-arrowhead_gr" />
                </div>
            </div>
            <div class="panel" id="panel-arrowhead_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_arrowhead_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-arrowhead_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-arrowhead_ve" />
                </div>
            </div>
            <div class="panel" id="panel-arrowhead_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_arrowhead_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-arrowhead_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-arrowhead_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-fatui_insigna_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_fatui_insigna_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fatui_insigna_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fatui_insigna_gr" />
                </div>
            </div>
            <div class="panel" id="panel-fatui_insigna_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_fatui_insigna_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fatui_insigna_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fatui_insigna_ve" />
                </div>
            </div>
            <div class="panel" id="panel-fatui_insigna_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="/assets/icons/recoltables/common_fatui_insigna_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fatui_insigna_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fatui_insigna_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-hoarder_insigna_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_hoarder_insigna_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-common_hoarder_insigna_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-common_hoarder_insigna_gr" />
                </div>
            </div>
            <div class="panel" id="panel-hoarder_insigna_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_hoarder_insigna_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-common_hoarder_insigna_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-common_hoarder_insigna_ve" />
                </div>
            </div>
            <div class="panel" id="panel-hoarder_insigna_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_hoarder_insigna_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-common_hoarder_insigna_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-common_hoarder_insigna_b" />
                </div>
            </div>

        </div>
    </div>
    <div class="normal_loot_list2 bigLeftSpace">
        <div class="flex row">
            <div class="panel" id="panel-nectar_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_nectar_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-nectar_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-nectar_gr" />
                </div>
            </div>
            <div class="panel" id="panel-nectar_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_nectar_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-nectar_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-nectar_ve" />
                </div>
            </div>
            <div class="panel" id="panel-nectar_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_nectar_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-nectar_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-nectar_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-handguard_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_handguard_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-handguard_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-handguard_gr" />
                </div>
            </div>
            <div class="panel" id="panel-handguard_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_handguard_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-handguard_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-handguard_ve" />
                </div>
            </div>
            <div class="panel" id="panel-handguard_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_handguard_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-handguard_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-handguard_b" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-specter_husk_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_specter_husk_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-common_specter_husk_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-common_specter_husk_gr" />
                </div>
            </div>
            <div class="panel" id="panel-specter_husk_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_specter_husk_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-common_specter_husk_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-common_specter_husk_ve" />
                </div>
            </div>
            <div class="panel" id="panel-specter_husk_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_specter_husk_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-common_specter_husk_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-common_specter_husk_b" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-fungal_dust_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_fungal_dust_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fungal_dust_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fungal_dust_gr" />
                </div>
            </div>
            <div class="panel" id="panel-fungal_dust_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_fungal_dust_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fungal_dust_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fungal_dust_ve" />
                </div>
            </div>
            <div class="panel" id="panel-fungal_dust_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_fungal_dust_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fungal_dust_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fungal_dust_b" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-red_bandage_gr">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_red_bandage_gr.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-red_bandage_gr" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-red_bandage_gr" />
                </div>
            </div>
            <div class="panel" id="panel-red_bandage_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_red_bandage_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-red_bandage_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-red_bandage_ve" />
                </div>
            </div>
            <div class="panel" id="panel-red_bandage_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/common_red_bandage_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-red_bandage_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-red_bandage_b" />
                </div>
            </div>
        </div>
    </div>

    <div class="rare_loot_list1 bigLeftSpace">
        <div class="flex row">
            <div class="panel" id="panel-horn_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_horn_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-horn_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-horn_ve" />
                </div>
            </div>
            <div class="panel" id="panel-horn_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_horn_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-horn_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-horn_b" />
                </div>
            </div>
            <div class="panel" id="panel-horn_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_horn_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-horn_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-horn_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-branch_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_branch_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-branch_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-branch_ve" />
                </div>
            </div>
            <div class="panel" id="panel-branch_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_branch_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-branch_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-branch_b" />
                </div>
            </div>
            <div class="panel" id="panel-branch_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_branch_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-branch_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-branch_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-chaos_core_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_core_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_core_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_core_ve" />
                </div>
            </div>
            <div class="panel" id="panel-chaos_core_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_core_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_core_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_core_b" />
                </div>
            </div>
            <div class="panel" id="panel-chaos_core_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_core_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_core_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_core_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-mist_grass_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_mist_grass_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mist_grass_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mist_grass_ve" />
                </div>
            </div>
            <div class="panel" id="panel-mist_grass_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_mist_grass_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mist_grass_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mist_grass_b" />
                </div>
            </div>
            <div class="panel" id="panel-mist_grass_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_mist_grass_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mist_grass_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mist_grass_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-lame_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_lame_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-elite_lame_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-elite_lame_ve" />
                </div>
            </div>
            <div class="panel" id="panel-lame_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_lame_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-elite_lame_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-elite_lame_b" />
                </div>
            </div>
            <div class="panel" id="panel-lame_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_lame_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-elite_lame_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-elite_lame_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-bone_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_bone_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-bone_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-bone_ve" />
                </div>
            </div>
            <div class="panel" id="panel-bone_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_bone_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-bone_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-bone_b" />
                </div>
            </div>
            <div class="panel" id="panel-bone_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_bone_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-bone_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-bone_vi" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-shell_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_shell_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-shell_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-shell_ve" />
                </div>
            </div>
            <div class="panel" id="panel-shell_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_shell_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-shell_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-shell_b" />
                </div>
            </div>
            <div class="panel" id="panel-shell_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_shell_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-shell_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-shell_vi" />
                </div>
            </div>
        </div>
    </div>
    <div class="rare_loot_list2 bigLeftSpace">
        <div class="flex row">
            <div class="panel" id="panel-chaos_gear_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_gear_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_gear_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_gear_ve" />
                </div>
            </div>
            <div class="panel" id="panel-chaos_gear_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_gear_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_gear_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_gear_b" />
                </div>
            </div>
            <div class="panel" id="panel-chaos_gear_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_gear_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_gear_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_gear_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-prism_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_prism_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-prism_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-prism_ve" />
                </div>
            </div>
            <div class="panel" id="panel-prism_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_prism_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-prism_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-prism_b" />
                </div>
            </div>
            <div class="panel" id="panel-prism_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_prism_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-prism_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-prism_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-wolf_claw_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_wolf_claw_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-wolf_claw_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-wolf_claw_ve" />
                </div>
            </div>
            <div class="panel" id="panel-wolf_claw_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_wolf_claw_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-wolf_claw_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-wolf_claw_b" />
                </div>
            </div>
            <div class="panel" id="panel-wolf_claw_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_wolf_claw_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-wolf_claw_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-wolf_claw_vi" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-statuette_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_statuette_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-statuette_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-statuette_ve" />
                </div>
            </div>
            <div class="panel" id="panel-statuette_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_statuette_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-statuette_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-statuette_b" />
                </div>
            </div>
            <div class="panel" id="panel-statuette_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_statuette_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-statuette_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-statuette_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-chaos_module_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_module_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_module_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_module_ve" />
                </div>
            </div>
            <div class="panel" id="panel-chaos_module_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_module_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_module_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_module_b" />
                </div>
            </div>
            <div class="panel" id="panel-chaos_module_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_chaos_module_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-chaos_module_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-chaos_module_vi" />
                </div>
            </div>

        </div>
        <div class="flex row">
            <div class="panel" id="panel-fungal_nucleus_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_fungal_nucleus_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fungal_nucleus_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fungal_nucleus_ve" />
                </div>
            </div>
            <div class="panel" id="panel-fungal_nucleus_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_fungal_nucleus_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fungal_nucleus_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fungal_nucleus_b" />
                </div>
            </div>
            <div class="panel" id="panel-fungal_nucleus_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_fungal_nucleus_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fungal_nucleus_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fungal_nucleus_vi" />
                </div>
            </div>
        </div>

        <div class="flex row">
            <div class="panel" id="panel-desert_prism_ve">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_ve.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_desert_prism_ve.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-desert_prism_ve" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-desert_prism_ve" />
                </div>
            </div>
            <div class="panel" id="panel-desert_prism_b">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_desert_prism_b.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-desert_prism_b" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-desert_prism_b" />
                </div>
            </div>
            <div class="panel" id="panel-desert_prism_vi">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/elite_desert_prism_vi.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-desert_prism_vi" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-desert_prism_vi" />
                </div>
            </div>
        </div>
    </div>
</div>