<div id="liste_ressources_generales" class="flex row">
    <div class="mora_xp_minerais">
        <div class="flex row">
            <div class="panel large high" id='panel_mora'>
                <div class="panel_content hideable large">
                    <img class="panel_content_image center large" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image center" src="assets/icons/recoltables/moras.png">
                </div>
                <div class="panel_footer item_center high">
                    <div class="flex item_center">
                        <input type="text" placeholder="x" id="input_left-nb_mora" />
                    </div>
                    <div class="flex row item_center">
                        <span>/</span>
                        <input type="text" placeholder="x" id="input_right-total_mora" />
                    </div>
                </div>
            </div>
            <div class="panel large high" id='panel_xp'>
                <div class="panel_content hideable large flex row">
                    <img class="panel_content_image left" src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image left" src="assets/icons/recoltables/xp_books_b.png">

                    <img class="panel_content_image right" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image right" src="assets/icons/recoltables/xp_books_vi.png">
                </div>
                <div class="panel_footer item_center high">
                    <div class="flex row item_center">
                        <input type="text" placeholder="x" id="input_left-nb_book_vi" />
                        <span>+</span>
                        <input type="text" placeholder="x" id="input_left-nb_book_b" />
                    </div>
                    <div class="flex row item_center">
                        <span>=</span>
                        <input type="text" placeholder="x" id="input_left-xp_total" />
                        <span>/</span>
                        <input type="text" placeholder="x" id="input_right-xp_total" />
                    </div>
                </div>
            </div>					
            <div class="panel" id="panel-crown">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_g.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/crown.png">
                </div>
                <div class="panel_footer item_center flex row high">
                    <input type="text" placeholder="x" id="input_left-crown" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-crown" />
                </div>
            </div>
            <div class="panel high" id='panel_minerais'>
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_b.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/minerais.png">
                </div>
                <div class="panel_footer item_center high">
                    <div class="flex row item_center">
                        <input type="text" placeholder="x" id="input_left-nb_minerais" />
                    </div>
                    <div class="flex row item_center">
                        <span>/</span>
                        <input type="text" placeholder="x" id="input_right-total_minerais" />
                    </div>
                </div>
            </div>
            <div class="panel high" id='panel_parametric_transformer'>
                <div class="panel_content" id='panel_parametric_transformer_content'>
                    <img class="panel_content_image"  src="assets/icons/recoltables/case_vi.png">
                    <img class="panel_content_image center" src="assets/icons/recoltables/parametric_transformer.png">
                </div>
                <div class="panel_footer item_center high" id="panel_parametric_transformer_timer">
                    <div class="flex row item_center" id="panel_parametric_transformer_days"></div>
                    <div class="flex row item_center" id="panel_parametric_transformer_hours_mins"></div>
                </div>
            </div>
        </div>
    </div>
</div>