<app-general-ressources></app-general-ressources>

<div id="btn_groupe_ressources" class="flex row">
    <div id="btn_domains" class="btn flex btn_principal" 
        routerLink="domains" routerLinkActive="active" tabindex="-1">Domains</div>
        
    <div id="btn_boss" class="btn flex btn_principal" 
        routerLink="boss" routerLinkActive="active" tabindex="-1">Boss</div>

    <div id="btn_monsters" class="btn flex btn_principal" 
        routerLink="monsters" routerLinkActive="active" tabindex="-1">Monstres</div> 

    <div id="btn_harvestables" class="btn flex btn_principal" 
        routerLink="harvestables" routerLinkActive="active" tabindex="-1">Récoltables</div>
        
    <div id="btn_toggleRessourcesGoalChange" class="btn flex toggle" 
        (click)="onToggleRessourceGoalClick()" [ngClass]="{active: canRessourceGoalChange}"></div>
</div>

<router-outlet></router-outlet>