
<div id="hsr_dailies" class="flex row" style="margin-left: 6px;">
    <div #btnDailies id="btn_toggle_dailies" class="hsr btn toggle"  tabindex="-1" (click)="onDailiesClick()" (contextmenu)="onResetDailiesAndHebdosRightClick()">
        <img src="assets/honkai-star-rail/icons/dailies/{{dailiesImg}}.png">
    </div> 
    <div class="flex row">
        <div #dailiesPopup class="flex col collapsed" id="btn_toggle_dailies_popup" tabindex="-1" >
            <div class="flex row" tabindex="-1">
                <div class="btn_toggle_dailies" tabindex="-1" #hsrStamina id="hsr_DailyBtn_Stamina" (click)="onDailyClick(hsrStamina)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_stamina.png">
                </div>
                <div class="btn_toggle_dailies left_space" tabindex="-1" #hsrAssignements id="hsr_DailyBtn_assignements" (click)="onDailyClick(hsrAssignements)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_assignements.png">
                </div>
                <div class="btn_toggle_dailies left_space" tabindex="-1" #hsrMissions id="hsr_DailyBtn_missions" (click)="onDailyClick(hsrMissions)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_missions.png">
                </div>
            </div>
            <div class="flex row btn_toggle_dailies_lowerRow" tabindex="-1">
                <div class="btn_toggle_dailies" tabindex="-1" #hsrMemory id="hsr_HebdoBtn_memory" (click)="onDailyClick(hsrMemory)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_memory.png">
                </div>
                <div class="btn_toggle_dailies left_space" tabindex="-1" #hsrSu id="hsr_HebdoBtn_su" (click)="onDailyClick(hsrSu)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_su.png">
                </div>
            </div>
        </div>
        <div #dailiesPopup2 class="flex col collapsed" id="btn_toggle_dailies_popup2" tabindex="-1" >
            <div class="flex row" tabindex="-1">
                <div class="btn_toggle_dailies" tabindex="-1" #hsrStamina2 id="hsr_DailyBtn_Stamina2" (click)="onDailyClick(hsrStamina2)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_stamina.png">
                </div>
                <div class="btn_toggle_dailies left_space" tabindex="-1" #hsrAssignements2 id="hsr_DailyBtn_assignements2" (click)="onDailyClick(hsrAssignements2)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_assignements.png">
                </div>
                <div class="btn_toggle_dailies left_space" tabindex="-1" #hsrMissions2 id="hsr_DailyBtn_missions2" (click)="onDailyClick(hsrMissions2)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_missions.png">
                </div>
            </div>
            <div class="flex row btn_toggle_dailies_lowerRow" tabindex="-1">
                <div class="btn_toggle_dailies" tabindex="-1" #hsrMemory2 id="hsr_HebdoBtn_memory2" (click)="onDailyClick(hsrMemory2)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_memory.png">
                </div>
                <div class="btn_toggle_dailies left_space" tabindex="-1" #hsrSu2 id="hsr_HebdoBtn_su2" (click)="onDailyClick(hsrSu2)">
                    <img class="btn_toggle_dailies_img" src="assets/honkai-star-rail/icons/dailies/hsr_su.png">
                </div>
            </div>
        </div>
    </div>
</div> 