<div id="notes" class="flex row">
    <div id="notes-calculator" class="flex col">
        <div id="notes-calculator_display" class="flex row">
            <app-calculator-character></app-calculator-character>
            <app-calculator-weapon></app-calculator-weapon>
        </div>
        <div id="notes-calculator_notes" class="flex row">		
            <textarea id="calculator_notes-textarea1" class="notes-textarea-custom-style"></textarea>
            <textarea id="calculator_notes-textarea2" class="notes-textarea-custom-style"></textarea>
        </div>
    </div>
    <div>
        <textarea id="notes-textarea1" class="notes-textarea-custom-style"></textarea>
        <textarea id="notes-textarea2" class="notes-textarea-custom-style"></textarea>		
        <textarea id="notes-textarea3" class="notes-textarea-custom-style"></textarea>
    </div>
</div>