.btn_filtre{
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 4px;
}
.btn_filtre_image{
    width: 27px;
    height: 27px;
}
.btn_filtre_image_small{
    position: relative;
    width: 12px;
    height: 12px;
}
.btn_filtre_flat{    
    position: relative;
    width: 66px;
    height: 13px;
    border-radius: 8px;
    line-height: 13px;
}
.btn_filtre_flat.no_justify_left_padding{
    justify-content: left;
    padding-left: 5px;
}
#liste_personnages_filtres {
    margin-top: 23px;
}
#liste_personnages_filtres_sex_both,
#liste_personnages_filtres_armes,
#liste_personnages_filtres_elements,
#liste_personnages_filtres_etoiles,
#liste_personnages_filtres_regions,
#liste_personnages_filtres_reset
{
    margin-left: 24px;
}
#liste_personnages_filtres_etoiles_quatre{
    margin-top: 4px;;
}
#liste_personnages_filtres_element_arme{
    margin-left: 8px;
}
#liste_personnages{
    margin-left: 6px;
}