
#artefacts_CharacterInfos_Artefacts_Pieces{
    margin-top: 35px;
    margin-left: 50px;
    width: 1148px;
    justify-content: space-between;
}
.artefacts_CharacterInfos_Artefacts_Pieces_Piece{
    width: 220px;
    height: 226px;
    border-radius: 10px;
    background-color: #282a2f;
    box-shadow: 0 0 3px black;
    position: relative;
}
 .artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type{
    width: 220px;
    top: -8px;
}
.artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type_Border{
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: #474a4e;
    box-shadow: 0 0 2px black;
}
.artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type_Background{
    width: 51px;
    height: 51px;

    border-radius: 51px;
    background-color: #282a2f;
    box-shadow: #282a2f;
    box-shadow: inset 0 0 2px black;
}
.artefacts_CharacterInfos_Artefacts_Pieces_Piece_Type_Icon{
    width: 51px;
    height: 51px;
    border-radius: 25px;
} 
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Header{
    height: 77px;
    justify-content: center;
    padding-top: 18px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_SetName{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 77px;
    width: 121px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_SetName>span{
    font-size: 24px;
    font-weight: bold;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Img{
    width: 80px;
    height: 80px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats{  
    margin-top: 8px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats>span{  
    font-weight: bolder;
    font-size: 14px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main{  
    border-radius: 3px;
    font-size: 16px;
    height: 28px;
    width: 196px;
    align-self: center;
    color: #e9e5dc;
    font-family: 'Calibri';
    line-height: 28px;
    background-color: #474a4e;
    margin-left: 12px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main>span{
    font-weight: bolder;
    font-size: 18px;
}
.artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main_Stat{  
    margin-left: 5px; 
}
.artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Main_Value{ 
    margin-right: 5px;
    margin-left: auto;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Subs{
    margin-top: 10px;
    margin-left: 15px;
}
#artefacts_CharacterInfos_Artefacts_Pieces_Piece_Stats_Sub>span{
    font-weight: bolder;
    font-size: 14px;    
}