<div class="panel" [id]="ressourceId" [ngClass]="{hide: isHided}">
    <div class="panel_content hideable" (click)="OnClick()">
        <img class="panel_content_image" [src]="backgroundImg">
        <img class="panel_content_image" [src]="ressourceImg">
    </div>
    <div class="panel_footer item_center flex row">
        <input #leftInput type="text" placeholder="x" [id]="leftInputId" (input)='onInputChange(leftInput)'/>
        <span>/</span>
        <input #rightInput type="text" placeholder="x" [id]="rightInputId" (input)='onInputChange(rightInput)' (focus)="onRightInputFocus($event)"/>
    </div>
</div>