<div id="list_ressources_domains" class="flex row">    
    <div *ngFor="let block of def.blocks" class="{{block.class}}">
        <div class="{{block.title.class}}" id="{{block.title.id}}">
            <p>{{block.title.text}}</p>
        </div>
        <div class="{{block.frame.class}}" id="{{block.frame.id}}">
            <div *ngFor="let col of block.cols" class="{{col.class}}">
                <div *ngFor="let row of col.rows">
                    <div *ngFor="let ressource of row.ressources" class="flex row">
                        <app-ressource-panel *ngFor="let rarity of ressource.rarities"
                            [ressource]="{name: ressource.name + '_' + rarity, rarity: rarity}">
                        </app-ressource-panel>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>