
<div id="gi_dailies"  class="flex row" style="margin-left: 6px;">
    <div #btnDailies id="btn_toggle_dailies" class="btn toggle" tabindex="-1" (click)="onDailiesClick()" (contextmenu)="onResetDailiesAndHebdosRightClick()">
        <img src="assets/icons/dailies/{{dailiesImg}}.png">
    </div> 
    <div #dailiesPopup class="flex col collapsed" id="btn_toggle_dailies_popup" tabindex="-1" >
        <div class="flex row" tabindex="-1">
            <div class="btn_toggle_dailies" tabindex="-1" #giCommissions id="gi_DailyBtn_Commissions" (click)="onDailyClick(giCommissions)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_commissions.png">
            </div>
            <div class="btn_toggle_dailies left_space" tabindex="-1" #giTeapot id="gi_DailyBtn_Teapot" (click)="onDailyClick(giTeapot)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_teapot.png">
            </div>
            <div class="btn_toggle_dailies left_space" tabindex="-1" #giResine id="gi_DailyBtn_Resine" (click)="onDailyClick(giResine)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_resine.png">
            </div>
        </div>
        <div class="flex row btn_toggle_dailies_lowerRow" tabindex="-1">
            <div class="btn_toggle_dailies" tabindex="-1" #giFragileResine id="gi_DailyBtn_FragileResine" (click)="onDailyClick(giFragileResine)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_fragile_resine.png">
            </div>
            <div class="btn_toggle_dailies left_space" tabindex="-1" #giReputation id="gi_DailyBtn_Reputation" (click)="onDailyClick(giReputation)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_reputation.png">
            </div>
            <div class="btn_toggle_dailies left_space" tabindex="-1" #giBoss id="gi_DailyBtn_Boss" (click)="onDailyClick(giBoss)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_boss.png">
            </div>
            <div class="btn_toggle_dailies left_space" tabindex="-1" #giAbyss id="gi_DailyBtn_Abyss" (click)="onDailyClick(giAbyss)">
                <img class="btn_toggle_dailies_img" src="assets/icons/dailies/gi_abyss.png">
            </div>
        </div>
    </div>
</div> 