
<div id="list_ressources_harvestable" class="flex row">
    <div class="material_list bigRightSpace">
        <div class="flex row">
            <div class="panel" id="panel-calla_lily">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_calla_lily.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-calla_lily" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-calla_lily" />
                </div>
            </div>
            <div class="panel" id="panel-cecilia">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_cecilia.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-cecilia" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-cecilia" />
                </div>
            </div>
            <div class="panel" id="panel-dandelion_seed">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_dandelion_seed.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-dandelion_seed" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-dandelion_seed" />
                </div>
            </div>
            <div class="panel" id="panel-philanemo_mushroom">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_philanemo_mushroom.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-philanemo_mushroom" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-philanemo_mushroom" />
                </div>
            </div>
        
            <div class="panel" id="panel-small_lamp_grass">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_small_lamp_grass.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-small_lamp_grass" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-small_lamp_grass" />
                </div>
            </div>
            <div class="panel" id="panel-valberry">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_valberry.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-valberry" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-valberry" />
                </div>
            </div>
            <div class="panel" id="panel-windwheel_aster">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_windwheel_aster.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-windwheel_aster" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-windwheel_aster" />
                </div>
            </div>
            <div class="panel" id="panel-wolfhook">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_wolfhook.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-wolfhook" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-wolfhook" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-cor_lapis">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_cor_lapis.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-cor_lapis" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-cor_lapis" />
                </div>
            </div>
            <div class="panel" id="panel-glaze_lily">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_glaze_lily.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-glaze_lily" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-glaze_lily" />
                </div>
            </div>
            <div class="panel" id="panel-jueyun_chili">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_jueyun_chili.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-jueyun_chili" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-jueyun_chili" />
                </div>
            </div>
            <div class="panel" id="panel-noctilucous_jade">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_noctilucous_jade.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-noctilucous_jade" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-noctilucous_jade" />
                </div>
            </div>
        
            <div class="panel" id="panel-silk_flower">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_silk_flower.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-silk_flower" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-silk_flower" />
                </div>
            </div>
            <div class="panel" id="panel-starconch">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_starconch.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-starconch" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-starconch" />
                </div>
            </div>
            <div class="panel" id="panel-violetgrass">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_violetgrass.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-violetgrass" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-violetgrass" />
                </div>
            </div>
            <div class="panel" id="panel-qingxin">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_qingxin.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-qingxin" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-qingxin" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-amakumo_fruit">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_amakumo_fruit.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-amakumo_fruit" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-amakumo_fruit" />
                </div>
            </div>
            <div class="panel" id="panel-crystal_marrow">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_crystal_marrow.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-crystal_marrow" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-crystal_marrow" />
                </div>
            </div>
            <div class="panel" id="panel-dendrobium">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_dendrobium.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-dendrobium" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-dendrobium" />
                </div>
            </div>
            <div class="panel" id="panel-naku_weed">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_naku_weed.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-naku_weed" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-naku_weed" />
                </div>
            </div>        
            <div class="panel" id="panel-onikabuto">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_onikabuto.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-onikabuto" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-onikabuto" />
                </div>
            </div>
            <div class="panel" id="panel-sakura_bloom">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_sakura_bloom.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-sakura_bloom" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-sakura_bloom" />
                </div>
            </div>
            <div class="panel" id="panel-sango_pearl">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_sango_pearl.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-sango_pearl" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-sango_pearl" />
                </div>
            </div>
            <div class="panel" id="panel-sea_ganoderma">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_sea_ganoderma.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-sea_ganoderma" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-sea_ganoderma" />
                </div>
            </div>
            <div class="panel" id="panel-fluorescent_fungus">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_fluorescent_fungus.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-fluorescent_fungus" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-fluorescent_fungus" />
                </div>
            </div>
        </div>
        <div class="flex row">
            <div class="panel" id="panel-nilotpala_lotus">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_nilotpala_lotus.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-nilotpala_lotus" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-nilotpala_lotus" />
                </div>
            </div>
            <div class="panel" id="panel-kalpalata_lotus">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_kalpalata_lotus.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-kalpalata_lotus" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-kalpalata_lotus" />
                </div>
            </div>
            <div class="panel" id="panel-rukkhashava_mushroom">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_rukkhashava_mushroom.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-rukkhashava_mushroom" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-rukkhashava_mushroom" />
                </div>
            </div>        
            <div class="panel" id="panel-padisarah">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_padisarah.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-padisarah" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-padisarah" />
                </div>
            </div>
            <div class="panel" id="panel-henna_berry">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_henna_berry.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-henna_berry" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-henna_berry" />
                </div>
            </div>
            <div class="panel" id="panel-scarab">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_scarab.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-scarab" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-scarab" />
                </div>
            </div>
            <div class="panel" id="panel-sand_grease">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_sand_grease.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-sand_grease" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-sand_grease" />
                </div>
            </div>
            <div class="panel" id="panel-mourning_flower">
                <div class="panel_content hideable">
                    <img class="panel_content_image" src="assets/icons/recoltables/case_gr.png">
                    <img class="panel_content_image" src="assets/icons/recoltables/local_mourning_flower.png">
                </div>
                <div class="panel_footer item_center flex row">
                    <input type="text" placeholder="x" id="input_left-mourning_flower" />
                    <span>/</span>
                    <input type="text" placeholder="x" id="input_right-mourning_flower" />
                </div>
            </div>
        </div>
    </div>
</div>